@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.gasto {
  margin: 10px;
  padding: 0.5rem 1rem;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;

  &__type {
    color: dodgerblue;
    font-size: 1em;
  }

  &__date {
    color: dodgerblue;
    font-size: 1em;
  }

  &__content {
    text-align: center;
    font-family: "Lato", sans-serif;

    h4 {
      font-size: 1.4em;
      font-weight: 600;
    }

    p {
      display: block;
      text-align: center;
      font-weight: 600;
      font-size: 1.2em;
    }
  }

  &__btns {
    display: flex;
    color: white;
    flex-direction: column;

    Button {
      margin-bottom: 0.5rem;
    }
  }
}
